---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "normalize";
@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";
@import "lato/lato";
@import "icons";
@import "mmenu/jquery.mmenu";
@import "mmenu/jquery.mmenu.positioning";
@import "animate";

$tall-screen: 640px;

.dot-background { 
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=) repeat;
}

html {
  background-color: $dark-gray;
  overflow-x: hidden;
}

body {
  @include media($large-screen) {
    background-color:#fff;
  }
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.fade {
  opacity:0;
  @include transition (opacity 1.0s ease-in-out);
}

.dim {
  opacity:0.5;
  @include transition (opacity 1.0s ease-in-out);
}

.grey {
  @include filter(grayscale(50%));
}

.more-link {
  &:after {
    content: "\e607";
    @include icon-font();
    border:solid 2px $base-link-color;
    border-radius:50%;
    margin: 4px;
    position:absolute;
    text-indent:1px;
    width:20px;
    height:20px;
    overflow:hidden;
  }
}

a[rel~="external"]:after {
  content: "\ea7e";
  @include icon-font();
  margin-left:0.2rem;
}


@include media($large-screen) {
  h1 {
    font-size:rem(72);
  }
}

.page-content {
  background-color:#fff;
  @include outer-container;
  
  h2 {
    margin-bottom:rem(5px);
  }
}

.wrapper {
  @include outer-container;
}

@import "header";
@import "footer";


.banner {
  background-color: $light-gray;
  background-size:auto 415px;
  background-position:center bottom;
  background-repeat:no-repeat;
  background-image:url(../img/blank.png);
  
  .wrapper {
    position:relative;
    padding:0;
    
    $mobile: new-breakpoint(max-width 500px);
  
    .text {
      h1 {
        font-weight:normal;
        line-height:1.1;
        
        strong {
          color:$green;
          font-weight:normal;
        }
      }
      
      p {
        font-weight:300;
        line-height:1.3;
      }
      
      @include media($large-screen) {
        position:absolute;
        left:0;
        top:85px;
        width:490px;
        
        h1 {
          font-size:rem(54);
          margin-bottom:5px;
        }
        
        p {
          font-size:rem(26);
        }
      }

      z-index:2;
      

      padding: $base-spacing;
      
      a.action {
        @include button(flat, $dark-gray);
        
        @include media($large-screen) {
          font-size: rem(26);
          padding: 12px 28px;
          margin-top:20px;
        }
      }
    }
  }
  
  @include media($large-screen) {
    padding-top:120px;
    height:415px;
  }
}

.background--dark {
  color:#fff;
}


.service {
  background-color:#fff;
  position:relative;
  z-index:2;
  padding-top:$base-spacing;
  padding-bottom:$base-spacing;
  
  .wrapper {
    padding:$base-spacing;
  
    figure {
      background-color:$blue;
      overflow:hidden;
      position:relative;
      display:none;
      -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); //fixes overflow bug
      
      img {
        max-width:none;
        @include transition (margin 0.2s ease-in-out);
      }
      
      @include media($medium-screen) {
        display: block;
        float: left;
        height: 215px;
        width: 215px;
        border-radius:50%;
        
        &:after {
          content:'';
          height: 215px;
          width: 215px;
          position:absolute;
          left:0;
          top:0;
          border-radius:50%;
          -webkit-box-shadow: inset 8px 8px 3px -1px rgba(0,0,0,0.17);
          -moz-box-shadow: inset 8px 8px 3px -1px rgba(0,0,0,0.17);
          box-shadow: inset 8px 8px 3px -1px rgba(0,0,0,0.17);
        }
      }
    }
    figcaption {
      h2 {
        margin-bottom:8px;
      }
      
      a {
        @include button(flat, $blue);
        color:#fff;
        margin-right:10px;
        
        &:nth-of-type(n+2) {
          @include button(flat, $medium-gray);
        }
      }
      
      @include media($medium-screen) {
        @include shift(4);
        
        h2 {
          margin-top:25px;
        }
      }
    }
  }
  
  &.host-deploy {
    figure {
      img {
        margin-top: 26px;
        margin-left: -114px;
      }
    }
    figcaption {
      a {
        @include button(flat, $red);
      }
    }
  }
  
  &.custom-development {
    figure {
      img {
        margin-top: -47px;
        margin-left: -50px;
      }
    }
  }
  
  &.ckan-ex {
    figure {
      background-color:$dark-blue;
      img {
        margin-top: 62px;
        margin-left: 31px;
      }
    }
    figcaption {
      a {
        @include button(flat, $dark-blue);
      }
    }
  }
  
  &.training {
    figure {
      background-color:$green;
      img {
        margin-top: 94px;
        margin-left: 9px;
      }
    }
    figcaption {
      a {
        @include button(flat, $green);
        color:#fff;
      }
    }
  }
  
  &:nth-child(odd) {
    background-color:lighten( $light-gray, 6% );
    
    .wrapper {
      figure {
        @include media($medium-screen) {
          float:right;
        }
      }
      figcaption {
        @include media($medium-screen) {
          margin-left:0;
          @include span-columns(7);
        }
        @include media($large-screen) {
          @include span-columns(8);
        }
      }
    }
  }
}

.feature {
  background-color:#fff;
  position:relative;
  z-index:1;
  
  &:nth-of-type(even) {
    background-color:lighten( $light-gray, 6% );
  }
  
  .wrapper {
    padding:$base-spacing;
    
    figure {
      overflow:hidden;
      position:relative;
      display:none;
      
      img {
        max-width:none;
        @include transition (all 0.5s ease-in-out);
      }
      
      @include media($large-screen) {
        display: block;
        @include span-columns(5);
      }
    }
    
    figcaption {
      @include media($large-screen) {
        @include span-columns(7);
        padding-top:80px;
        padding-bottom:80px;
      }
    }
  }
}


@import "tables";


//pages
@import "home";
@import "contact";
@import "ckan";
@import "support";
@import "hosting";
@import "development";
@import "training";
@import "blog";
@import "404";
@import "ckan-features";


ul.quotes {
  margin-bottom:0;
  background-color:$dark-gray;
  
  li {
    background-color:$medium-gray;
    background-size:cover;
    background-position:center center;
    background-attachment:fixed;
    position:relative;
    background-image:url(../img/quote-female.jpg);
    
    blockquote {
      @include outer-container;
      padding:$base-spacing;
      margin-top:0;
      margin-bottom:0;
      color:#fff;
      position:relative;
      z-index:1;
      border:none;
      
      p {
        @include media($large-screen) {
          font-size:rem(24);
        }
        
        &:first-of-type:before {
          content:'\201C';
          position:absolute;
          left:9px;
          font-size:rem(40);
          margin-top:-10px;
        }
        &:last-of-type:after {
          content:'\201D';
          margin-left:3px;
          position:absolute;
          font-size:rem(40);
          margin-top:-10px;
        }
      }
      
      cite {
        color:#fff;
        
        &:before {
          display:none;
        }
      }
    }
    
    &:after {
      content:'';
      position:absolute;
      top:0;
      right:0;
      bottom:0;
      left:0;
      @extend .dot-background;
      background-attachment:fixed;
      opacity:0.5;
    }
    
    &.male {
      background-image:url(../img/quote-male.jpg);
    }
    &.rodolfo {
      background-image:url(../img/rodolfo.jpg);
    }
    
    &.slick-slide {
      background-attachment:scroll; /* for Chrome bug */
      
      &:after {
        background-attachment:scroll; /* for Chrome bug */
      }
    }
  }
  
  .slick-dots {
    bottom: 5px;
    
    li {
      background-image:none;
      background-color:transparent;
      
      &:after {
        background-image:none;
      }
      
      button:before {
        color:#fff;
      }
    }
  }
}


.screenshot {
  box-shadow: 0 3px 5px transparentize(black, .7);
  width:500px;
  margin: $base-spacing auto;
  display:block;
  
  border-radius:3px;
  
  @include media($medium-screen) {
    background-image:url(../img/browser.png);
    background-size:500px auto;
    background-position:center top;
    padding-top:33px;
  }
  
  &:after {
    content: attr(title);
  }
}

.screenshots {
  position:relative;
  margin-bottom:$base-spacing;
  
  .screenshot {
    position:relative;
    z-index:3;
  
    &:nth-child(n+2) {
      display:none;
      margin:0;
    }
    &:nth-child(2),
    &:nth-child(3) {
      @include media($medium-screen) {
        display:block;
        position:absolute;
        bottom:0;
        width:470px;
        background-size:470px auto;
        z-index:1;
        padding-top:31px;
      }
    }
    &:nth-child(2) {
      left:5px;
    }
    &:nth-child(3) {
      right:5px;
    }
  }
  
  @include media($medium-screen) {
    margin-bottom:40px;
  }
  
  &:after {
    content: attr(title);
    font-size:rem(12);
    margin-top:-10px;
    display:block;
      
    @include media($medium-screen) {
      background-color:#fff;
      width:100%;
      height:40px;
      z-index:4;
      position:absolute;
      bottom:0;
      border-top:solid 1px $light-gray;
      padding-top:5px;
      margin:0;
      margin-bottom:-35px;
    }
  }
}

.caption {
  width:500px;
  max-width:100%;
  margin: $base-spacing auto;
  font-size:rem(12);
  display:block;
  
  img {
    margin:0 0 5px 0;
  }
  
  &:after {
    content: attr(title);
  }
}

.page {
  
  .banner {
    height:300px;
    background-size:cover;
    
    .wrapper {
      height:100%;
      .text {
        top:auto;
        width:100%;
        bottom:20px;
      }
    }
  }
  .page-content {
    padding-top:$base-spacing;
  }
  article {
    padding: $base-spacing;
   
    ul {
      @extend %default-ul;
    }
    ol {
      @extend %default-ol;
    }
    
    @include media($large-screen) {
      @include span-columns(9);
      
      p:first-of-type {
        font-size:rem(22);
      }
    }
  }
  
  aside {
    padding: $base-spacing;
    
    h5 {
      padding-left:$base-spacing / 4;
    }
    
    ul li {
      a {
        display:block;
        border-top:solid 1px $light-gray;   
        padding: $base-spacing / 4;   
        color: $base-font-color;
        
        &:hover {
          background-color:transparentize($green, 0.8);
        }
      }
      
      &.current {
        a {
          background-color:$green;
          color:#fff;
          border-color:#fff;
        }
      }
    }
    
    @include media($large-screen) {
      @include span-columns(3);
    }
  }
}

@include media($large-screen) {
  .sticky {
    position:fixed;
    top:105px;
  }
}


//modal
.modal {
  $modal-padding: 3em;
  $modal-background: $base-background-color;
  $modal-close-color: $light-gray;
  $modal-image-height: 135px;
  $modal-image-width: $modal-image-height;

  label {
    cursor: pointer;
    margin-bottom: 0;
  }

  label img {
    $img-width: 300px;
    border-radius: $img-width/2;
    display: block;
    max-width: $img-width;
  }

  input[type="checkbox"] {
    display: none;
  }

  .btn {
    @extend button;
  }

  .modal-open {
    overflow: hidden;
  }

  .modal-window { 
// overlay
    @include transition(opacity .25s ease);
    @include position(fixed, 0px 0px 0px 0px);
    background: rgba(0,0,0, .85);
    opacity: 0;
    text-align: left;
    visibility: hidden;
    z-index: 99999999999;

    .modal-bg {
      @include position(absolute, 0px 0px 0px 0px);
      cursor: pointer;
    }
  }

  .modal-close {
    @include position(absolute, ($modal-padding /2) ($modal-padding /2) null null);
    @include size(1.5em);
    cursor: pointer;
    background: $modal-background;

    &:after,
    &:before {
      @include position(absolute, 3px 3px 0 50%);
      @include transform(rotate(45deg));
      @include size(.15em 1.5em);
      background: $modal-close-color;
      content: '';
      display: block;
      margin: -3px 0 0 -1px;
    }

    &:hover:after,
    &:hover:before {
      background: darken($modal-close-color, 10);
    }

    &:before {
      @include transform(rotate(-45deg));
    }
  }

  .modal-inner {
    @include transition(opacity .25s ease);
    border-radius: $base-border-radius;
    background: $modal-background;
    margin: auto;
    max-height: 95%;
    position: relative;
    overflow: auto;
    width: 95%;
    padding: $modal-padding /2;
    margin-top: .6em;

    @include media($medium-screen) {
      padding: $modal-padding;
      width: 60%;
      max-height: 60%;
      margin-top: 10em;
    }

    @include media($large-screen) {
      width: 50%;
      margin-top: 10em;
    }

    h1 {
      color: $base-font-color;
      text-align: left;
      text-transform: capitalize;
    }

    p.body, p.intro {
      font-size: $base-font-size;
      max-width: 100% !important;
      text-align: left;
    }

    a.cta {
      color: white;
      display: inline-block;
      margin-right: .5em;
      margin-top: 1em;

      &:last-child {
        padding: 0 2em;
      }
    }
  }

  .modal-state:checked + .modal-window,
  &.modal-active .modal-window {
    opacity: 1;
    visibility: visible;
  }

  .modal-state:checked + .modal-window .modal-inner,
  &.modal-active .modal-window .modal-inner {
    top: 0;
  }
}