<footer class="site-footer">
  <div class="wrapper">
    <a class="footer-logo" href="https://okfn.org/">
      <img src="{{ "/img/ok-logo.png" | prepend: site.baseurl }}" alt="Open Knowledge">
    </a>
    <ul class="footer-primary-links">
      <li><a href="https://okfn.org/about/">About</a></li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <li><a href="https://okfn.org/privacy-policy/">Privacy policy</a></li>
        <li><a href="https://okfn.org/ip-policy/">IP policy</a></li>
        <li><a href="https://okfn.org/cookie-policy/">Cookie policy</a></li>
        <li><a href="https://okfn.org/terms-of-use/">Terms of use</a></li>
      </ul>

      <ul class="footer-social">
        {% if site.facebook_username %}
        <li><a href="https://facebook.com/{{ site.facebook_username }}">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
          </a></li>
        {% endif %}
        {% if site.twitter_username %}
        <li>
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
          </a>
        </li>
        {% endif %}
        {% if site.youtube_username %}
        <li>
          <a href="https://www.youtube.com/user/{{ site.youtube_username }}">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png" alt="YouTube">
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
    
    <hr>

    <p>Open Data Services is a trading name of the Open Knowledge Foundation. Open Knowledge Foundation is incorporated in England and Wales as a company Limited by guarantee. Company no. 05133759. Registered address: St. John’s Innovation Centre, Cowley Road, Cambridge, CB4 0WS, UK. VAT Registration no. GB 984404989.</p>
    
    {% if page.attribution %}
      <p class="attribution">{{ page.attribution }}</p>
    {% endif %}

  </div>
</footer>

<nav id="mmenu">
  {% include menu.html %}
</nav>
<!--[if lt IE 9]>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<!--<![endif]-->
<!--[if gt IE 8]><!-->
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<!--<![endif]-->
<script src="{{ "/js/vendor/waypoints.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/vendor/jquery.mmenu.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/vendor/jquery.stellar.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/vendor/equalize.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.3.11/slick.min.js"></script>
<script src="{{ "/js/vendor/background-check.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/vendor/twitterFetcher_min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
<script>
  //twitter feed
  var tfeed1 = {
    "id": '537281519401058304',
    "domId": 'tweets',
    "maxTweets": 3,
    "enableLinks": true
  };
</script>
{% if page.js %}
  <script>{{ page.js }}</script>
{% endif %}

<!-- Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48682838-2', 'auto');
  ga('send', 'pageview');

</script>
