      {% assign current = page.url | downcase | split: '/' %}
      <ul id="navigation-menu">
        <li class="nav-link more{% if current[1] == 'ckan' %} current{% endif %}"><a href="{{ "/ckan/" | prepend: site.baseurl }}">CKAN Services</a>
          <ul class="submenu">
            <li><a href="{{ "/hosting/" | prepend: site.baseurl }}">Deployments &amp; Hosting</a></li>
            <li><a href="{{ "/development/" | prepend: site.baseurl }}">Development</a></li>
            <li><a href="{{ "/support/" | prepend: site.baseurl }}">Support</a></li>
          </ul>
        </li>
        
        <li class="nav-link"><a href="{{ "/training/" | prepend: site.baseurl }}">Training</a></li>
        <li class="nav-link contact"><a href="{{ "/contact/" | prepend: site.baseurl }}">Contact Us</a></li>
      </ul>
    