@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-bgwpwx');
	src:url('fonts/icomoon.eot?#iefix-bgwpwx') format('embedded-opentype'),
		url('fonts/icomoon.woff?-bgwpwx') format('woff'),
		url('fonts/icomoon.ttf?-bgwpwx') format('truetype'),
		url('fonts/icomoon.svg?-bgwpwx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin icon-font() {
  font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"], [class*=" icon-"] {
  @include icon-font();
}

.icon-tick:before {
	content: "\e605";
}
.icon-phone:before {
	content: "\e603";
}
.icon-plane:before {
	content: "\e604";
}
.icon-book:before {
	content: "\e600";
}
.icon-support:before {
	content: "\e601";
}
.icon-ckan:before {
	content: "\e602";
}
.icon-twitter:before {
	content: "\e606";
}
.icon-arrow-right:before {
	content: "\e607";
}
.icon-new-tab:before {
	content: "\ea7e";
}
