 //Tables
  table {
    thead {
      tr {
        th {
          background-color:$light-gray;
          
          &.blue {
            background-color:$blue;
            color:#fff;
          }
          &.express-blue {
            background-color:$dark-blue;
            color:#fff;
          }
          &.orange {
            background-color:$orange;
            color:#fff;
          }
        }
        td {
          vertical-align:top;
        }
        
        &.blue {
          th {
            background-color:$blue;
            color:#fff;
            
            &:nth-last-child(2) {
              background-color:rgba($blue, .8);
            }
            &:nth-last-child(3) {
              background-color:rgba($blue, .6);
            }
            &:nth-last-child(4) {
              background-color:rgba($blue, .4);
            }
          }
        }
      }
    }
    p {
      font-size:inherit;
      line-height:inherit;
    }
  }
  
  .full-table {
    margin-left:- rem(20);
    margin-right:- rem(20);
    
    table {
      width:100%;
    }
  }
  
  .comparison-table {
    width:100%;
    
    thead {
      background-color:transparent;
      
      tr.blue {
        background-color:$blue;
        color:#fff;
      }
      tr.express-blue {
        background-color:$dark-blue;
        color:#fff;
      }
      tr.orange .compare-item {
        background-color:$orange;
        color:$base-font-color;
        
        &:nth-last-child(2) {
          background-color:rgba($orange, .8);
        }
        &:nth-last-child(3) {
          background-color:rgba($orange, .6);
        }
      }
        
      th {
        background-color:transparent;
      }
    
      .compare-item {
        text-transform:uppercase;
        background-color:$light-gray;
        
        &.blue {
          background-color:$blue;
          color:#fff;
        }
        &.express-blue {
          background-color:$dark-blue;
          color:#fff;
        }
        &.orange {
          background-color:$orange;
          color:#fff;
        }
        
        .has-tip {
          color:#fff;
          border:none;
        }
      }
    }
    
    tbody {
      tr:hover {
        td {
          background-color:$green;
          color:#fff;
          
          span {
            color:#fff;
          }

          &.no {
            background-color:#fff;
            color:$base-font-color;
          }
        }
      }
    
      .yes,
      .no {
        text-align:center;
        
        [class^="icon-"], [class*=" icon-"] {
          font-size:rem(30);
        }
      }
      
      .yes {
        span {
          color:$green;
        }
      }
      .no:empty {
        background-color:#fff;
      }
    }
    
    @include media($medium-screen) {
      &.compare-two {
        .compare-item {
          width:25%;
        }
      }
      
      &.compare-three {
        .compare-item {
          width:25%;
        }
      }
    }
  }