div.training {
  .banner {
    @include media($large-screen) {
      background-color:#e5e0e1;
      @include retina-image('../img/training-banner', auto 415px, jpg);
    }
  }
  
  .service {
    figure {
      background-color:$green;
    }
    
    figcaption {
      @include clearfix;
      
      a {
        @include button(flat, $green);
        color:#fff;
        &.js-accordion-trigger {
          display:none;
        }
          
        @include media($medium-screen) {
          &.js-accordion-trigger {
            display:inline-block;
          }
        }
      }
    }
    
    aside {
      clear:both;
      
      .js & {
        display:inline;
      }
      
      .modules {
        @include row(table);
        margin-top:$base-spacing;
        margin-bottom:$base-spacing;
        
        ul {
          @include span-columns(6);
            
          &.list-1 {
            padding-right:2em;
          }
          
          &.list-2 {
            border-left:solid 1px $light-gray;
            padding-left:2em;
            @include reset-display;
          }
        }
      }

      
      &#modules {
        h4 {
          padding-top:$base-spacing;
        }
        
        ul {
          li {
            
            h5 {
              margin-top:($base-spacing / 2);
              padding-top:($base-spacing / 2);
              border-top:1px solid $light-gray;
            }
            
            &:nth-child(3n+1) {
              h5 {
                margin-top:0;
                padding-top:0;
                border:none;
              }
            }
          }
        }
        
        .options,
        .costs {
          background-color:#fff;
          padding:$base-spacing;
          margin-top:$base-spacing;
          clear:both;
          
          h4 {
            padding-top:0;
          }
        }
        
        .options {

          ul {
            @extend %default-ul;
          }
        }
      }
    }
    
    h3 {
      margin-top:40px;
    }
    
    &.data-training {
      figure {
        img {
          margin-top: 23px;
          margin-left: -22px;
        }
      }
    }
    
    &.technical-training {
      figure {
        img {
          margin-top: -47px;
          margin-left: -50px;
        }
      }
    }
  }
}
