---
layout: default
attribution: Banner <a rel="nofollow external" href="https://www.flickr.com/photos/96913861@N04/15729770261/">image</a> by Christian Schnettelker / <a rel="nofollow external" href="https://creativecommons.org/licenses/by/2.0/">CC BY</a>
js: twitterFetcher.fetch(tfeed1);
---

<div class="blog">

  <div class="banner">
    <div class="wrapper">
      <div class="text">
        <h1>Open Data Blog</h1>
        <p>All the latest news and views from the world of CKAN and open data.</p>
      </div>
    </div>
  </div>
  
  <section class="posts">

    <ul class="post-list one">
    
    {% for post in site.posts limit:4 %}
    <li class="{% for category in post.categories %}{{ category | replace:' ','-' }}-category {% endfor %}{% if post.thumb %}thumb{% elsif post.image %}image{% endif %}">
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"{% if post.thumb %} style="background-image:url({{site.baseurl }}/img/blog/{{ post.thumb }})"{% elsif post.image %} style="background-image:url({{site.baseurl }}/img/blog/{{ post.image }})"{% endif %}>{% if post.nothumbtext %}<span>{% endif %}{% if post.shorttitle %}{{ post.shorttitle }}{% else %}{{ post.title | truncate:60 }}{% endif %}{% if post.nothumbtext %}</span>{% endif %}</a>
    </li>
    {% endfor %}
    </ul>
    
    <aside class="twitter">
      <h6 class="icon-twitter">Twitter</h6>
      <div id="tweets">
      </div>
      <a class="more-link" href="https://twitter.com/ckanproject">More from Twitter</a>
    </aside>
    
    <ul class="post-list two">
    {% for post in site.posts offset:4 limit:3 %}
    <li class="{% for category in post.categories %}{{ category | replace:' ','-' }}-category {% endfor %}{% if post.thumb %}thumb{% elsif post.image %}image{% endif %}">
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"{% if post.thumb %} style="background-image:url({{site.baseurl }}/img/blog/{{ post.thumb }})"{% elsif post.image %} style="background-image:url({{site.baseurl }}/img/blog/{{ post.image }})"{% endif %}>{% if post.nothumbtext %}<span>{% endif %}{% if post.shorttitle %}{{ post.shorttitle }}{% else %}{{ post.title | truncate:60 }}{% endif %}{% if post.nothumbtext %}</span>{% endif %}</a>
    </li>
    {% endfor %}
    </ul>
  </section>
  
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
